/* topbar.css */

.topbar-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 15%;
    width: 100%;
    background-color: #001522; /* Puedes ajustar este color según tus preferencias */
    color: #fff; /* Color del texto en la barra superior */
    padding: 10px; /* Espaciado interno de la barra superior */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ajusta según sea necesario para superponer sobre otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.search-bar {
    display: flex;
    background-color: gray; /* Color de fondo de la barra de búsqueda */
    border-radius: 3px;
    margin-left: 10px; /* Espaciado entre la barra de búsqueda y otros elementos */
}

.search-input::placeholder{
    color: black;
}

.search-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: none;
    color: #fff;
}

.search-button {
    padding: 8px;
    cursor: pointer;
}

/* Añade estilos específicos para los iconos según sea necesario */

